# List Data Structures

## Operations and Functions in List:

In [1]:
# List is heterogeneos
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j] # Computer identifies list only by the []
type(list)

list

In [2]:
# List is mutable
list[1]=("peace")
print(list)

[1, 'peace', 4.567, True, 'abcd', '1234', (1-2j)]

In [3]:
# List allows duplicate
list.append("peace")
print(list)

[1, 'peace', 4.567, True, 'abcd', '1234', (1-2j), 'peace']

In [4]:
# Can be accessed using indexing and slicing
print(list[0:5])
print(list[5])

[1, 'peace', 4.567, True, 'abcd']
1234

In [5]:
# Creaing a list
lunch_list=["chapathi","parota","fried rice","sambar"]
print(lunch_list)
type(lunch_list)

['chapathi', 'parota', 'fried rice', 'sambar']

list

In [6]:
# Creating two lists and concatenating them using + operator
lunch_list=["chapathi","parota","fried rice","sambar"]
diner_list=["curd rice","poori","dosa","idly"]
food_list=lunch_list+diner_list
print(food_list)
type(food_list)

['chapathi', 'parota', 'fried rice', 'sambar', 'curd rice', 'poori', 'dosa', 'idly']

list

In [7]:
# Inserting element in list
lunch_list.append("rasam")
print(lunch_list)

['chapathi', 'parota', 'fried rice', 'sambar', 'rasam']

In [8]:
# Sorting numeric list using sort()
num_list=[3,2,5,6.7,4,78,76,0,4.5,6.1]
num_list.sort()
num_list

[0, 2, 3, 4, 4.5, 5, 6.1, 6.7, 76, 78]

In [9]:
# Sorting str list using sort()
str_list=['a','d','g','b','gr','ge','G','A']
str_list.sort()
str_list

['A', 'G', 'a', 'b', 'd', 'g', 'ge', 'gr']

In [10]:
# Sorting str list using sort(),reverse=true
str_list=['a','d','g','b','gr','ge','G','A']
str_list.sort(reverse=True)
str_list

['gr', 'ge', 'g', 'd', 'b', 'a', 'G', 'A']

In [11]:
# Sorting a mixed datatype list
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j]
list.sort() #error occured due to presence of both str and float
print(list)

TypeError: '<' not supported between instances of 'str' and 'float'

In [12]:
# Sorting a list using sorted() method
num_list=[3,2,5,6.7,4,78,76,0,4.5,6.1]
num_list_sorted=sorted(num_list)
num_list_sorted

[0, 2, 3, 4, 4.5, 5, 6.1, 6.7, 76, 78]

In [13]:
# Sorting list using sorted(),reverse=true
num_list=[3,2,5,6.7,4,78,76,0,4.5,6.1]
num_list_sorted=sorted(num_list,reverse=True)
num_list_sorted

[78, 76, 6.7, 6.1, 5, 4.5, 4, 3, 2, 0]

In [14]:
# Using membership operator(in) to check the presence of a particular element (String List)
apl=['a','f','g','e','j','m','v']
print("f"in apl)

True

In [15]:
# Using membership operator(not) to check the presence of a particular element (String List)
apl=['a','f','g','e','j','m','v']
print("j" not in apl)

False

In [16]:
# Using membership operator(in) to check the presence of a particular element (Num List)
num=[1,3,5,7,9,2,4,6,8,0]
print(11 in num)

False

In [17]:
# Using membership operator(not) to check the presence of a particular element (Num List)
num=[1,3,5,7,9,2,4,6,8,0]
print(10 not in num)

True

In [18]:
# Iterate and print all the elements in the list
alp=['a','b','c','d','e','f','g','h','i','j'] # We declare a list 
for alphebet in alp: # For loop in each iteration takes one element from the list and stores it in the varable alphebet
    print(alphebet)

a
b
c
d
e
f
g
h
i
j

In [19]:
# Finding the length of a list
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j]
len(list) # Returns the length of the list

7

In [20]:
# Finding the maximun value in the list
Num=[1,2.3,3,4.5,5,6.7,7,8.9,9,0.1]
max(num) # Returns the Maximun value of a list also works for string list

9

In [21]:
# Finding the minimun value in a list
Alp=['a','b','c','d','e','A','B','C','D','E']
min(Alp)

'A'

In [22]:
# Finding the Maxinum and Minimum value of a mixed vaeiable List
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j]
max(list) # Error occurs due to presence of string and float variable in the list
max(list)

TypeError: '>' not supported between instances of 'str' and 'float'

In [23]:
# Removing all elements from a list
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j]
print(list)
list.clear() # clear() function removes all elements from a list
list

[1, 2.3, 4.567, True, 'abcd', '1234', (1-2j)]

[]

In [24]:
# Adding elements to an empty list
list=[]
list.append(1) # append() functions adds one element to an list
list

[1]

In [25]:
# Making a shallow copy of a existing list
alp=['a','b','c','d','e','f','g','h','i','j']
alphebets=alp.copy() # copy() function is used here to make a copy of the list and store it in a new variable
print(alp)
print(alphebets)
print(alp is alphebets) # False because the two variables are different list objects

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
False

In [26]:
# Copying a list using assignment operators
alp=['a','b','c','d','e','f','g','h','i','j']
alphebets=alp
print(alp)
print(alphebets)
print(alp is alphebets) # True because the two variables are refering to th same list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
True

In [27]:
# Counting the number of times an elements occurs in a list using count() function
num=[1,2,1,3,1,4,1,5]
num.count(1)

4

In [28]:
# Using extend() function to extend the current list by adding all items of the specified list(passed as an argument) to an end
var=[1,2,3]
apl=['a','b','c']
var.extend(apl) # Here we add the elements of apl to var
var

[1, 2, 3, 'a', 'b', 'c']

In [29]:
# Finding the index position of an element using index() funtion
alp=['a','b','c','d','e','f','g','h','i','j']
alp.index('d')

3

In [30]:
# Inserting a new element at a specified index position using index function
alp=['a','b','c','d','e','f','g','h','i','j']
alp.insert(4,'k')
alp

['a', 'b', 'c', 'd', 'k', 'e', 'f', 'g', 'h', 'i', 'j']

In [31]:
# Removing an element from a list by indexing using pop() funtion
alp=['a','b','c','d','e','f','g','h','i','j']
alp.pop() # Deletes the last element
alp.pop(2) # Deletes the element in that particular index value
alp # 'j' and 'c' will be removed from the list

['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i']

In [32]:
# Removing an element from a list by using remove() methord
alp=['a','b','c','d','e','f','g','h','i','j','c']
alp.remove('c') # remove() deletes the first occurence of specified element
alp # 'c' has been removed from the list

['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'c']

In [33]:
# Reversing a list reverse() function
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j]
list.reverse()
list

[(1-2j), '1234', 'abcd', True, 4.567, 2.3, 1]

In [34]:
# We can use sort(reverse=True) syntax to create a sorted reverse list 
num_list=[3,2,5,6.7,4,78,76,0,4.5,6.1]
num_list.sort(reverse=True)
print(num_list)
str_list=['a','d','g','b','gr','ge','G','A']
str_list.sort(reverse=True)
print(str_list)

[78, 76, 6.7, 6.1, 5, 4.5, 4, 3, 2, 0]
['gr', 'ge', 'g', 'd', 'b', 'a', 'G', 'A']

## Note:
### Splicing syntax - List[Start(Starting Position):Stop(Ending Position:Step(The Increment)]

In [35]:
# Slicing of a List
list=[1,2.3,4.567,True,"abcd",'1234', 1-2j]
print(list[0:3])   # Slicing using positive indexing
print(list[3:5])   # Slicing using positive indexing
print(list[0:-1])  # Slicing using negative indexing
print(list[-5:-1]) # Slicing using negative indexing
print(list[0:5:2]) # Slicing with 2 increment
print(list[0:5:3]) # Slicing with 3 increment
print(list[::-1])  # Reversing a list using Slicing

[1, 2.3, 4.567]
[True, 'abcd']
[1, 2.3, 4.567, True, 'abcd', '1234']
[4.567, True, 'abcd', '1234']
[1, 4.567, 'abcd']
[1, True]
[(1-2j), '1234', 'abcd', True, 4.567, 2.3, 1]