# Tuple Data Structure

## Basics of Tuple Functions And Methods:

In [1]:
# Tuple is Heterogeneous
tup=(1,2,3.4,'a','1','abc','123',2-5j)
print(tup)
type(tup)

(1, 2, 3.4, 'a', '1', 'abc', '123', (2-5j))

tuple

In [2]:
# Creating a tuple done with ()
tup1=(1,2,'a','b')
print(tup1)
type(tup1)

(1, 2, 'a', 'b')

tuple

In [3]:
# Creating a tuple done without the ()
tup2=3,4,'c','d'
print(tup2)
type(tup2)

(3, 4, 'c', 'd')

tuple

In [4]:
# Tuple is not mutable
tup2[0]='3' # Error because tuple is not mutable
print(tup2)

TypeError: 'tuple' object does not support item assignment

## Note:
### Since Tuple is Immutable, a Tuple needs lesser memory than Lists

In [5]:
# Tuple can have duplicates
tup3=(1,1,1,12,4,'a','b','c','a')
type(tup3)

tuple

### Tuple Operations:

In [6]:
# Sorting a tuple using sorted() function
num=(1,5,4,99,44,64,67,108)
sorted(num)

[1, 4, 5, 44, 64, 67, 99, 108]

In [7]:
# Sorting a tuple in  reverse 
num=(1,5,4,99,44,64,67,108)
sorted(num, reverse=True)

[108, 99, 67, 64, 44, 5, 4, 1]

In [8]:
#Note: The sorted() returns a list even if you pass a tuple to it
num=(1,5,4,99,44,64,67,108)
sorted(num, reverse=True)
type(num)

tuple

In [9]:
# Repeating tuple elements
tup1=(1,2,'a','b') 
n=2 # Numberof times the elements to be repeated
tup2=tup1*n
print(tup2)

(1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [10]:
# Concatenating of two tuples using '+' operator
tup1=(1,2,'a','b')
tup2=3,4,'c','d'
tup3=tup1+tup2 # Creating a new tuple from existing tuples using '+' operator
print(tup3)

(1, 2, 'a', 'b', 3, 4, 'c', 'd')

In [11]:
# Using Membership Operators(in, not in) in a tuple
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd')
print(1 in tup)
print('a' in tup)
print(3 not in tup)
print('d' not in tup)

True
True
False
False

In [12]:
# Iterating through the elements of a Tuple
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd')
for n in tup: # For loop takes an element from tuple on every iteration and stores it in the variable n
    print(n)

1
2
a
b
3
4
c
d

In [13]:
# Counting the number of elements in a Tuple 
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd')
len(tup) # Returns the length of tuple

8

In [14]:
# Returning the maximum and minimum element of a tuple
num=(1,5,4,99,44,64,67,108)
print(max(num))
print(min(num))

108
1

In [15]:
# Returning the maximum and minimum element of a tuple
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd')
print(max(tup)) # Error occurs because of presence of both string and integer variable
print(min(tup))

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
# Deleting an element of a Tuple
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd')
del tup[0] # Error occures because tuple cannot be changed once created

TypeError: 'tuple' object doesn't support item deletion

In [17]:
# We can have a list as an element of tuple and we can add an element to that list
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd',[1,2,'a'])
tup[8].append('b')
print(tup)
type(tup)

(1, 2, 'a', 'b', 3, 4, 'c', 'd', [1, 2, 'a', 'b'])

tuple

## Note:
### Splicing syntax - List[Start(Starting Position):Stop(Ending Position:Step(The Increment)]

In [18]:
# Indexing and Slicing a tuple
tup=(1, 2, 'a', 'b', 3, 4, 'c', 'd')
print(tup[5])     # Indexing using positive indexing
print(tup[-1])    # Indexing using negative indexing
print(tup[0:4])   # Slicing using positive indexing
print(tup[-6:-2]) # Slicing using negative indexing
print(tup[0:7:2]) # Slicing using 2 Increment
print(tup[0:7:3]) # Slicing using 3 Increment
print(tup[::-1])  # Reversing using Slicing function

4
d
(1, 2, 'a', 'b')
('a', 'b', 3, 4)
(1, 'a', 3, 'c')
(1, 'b', 'c')
('d', 'c', 4, 3, 'b', 'a', 2, 1)